.player-list .label {
    -fx-font-size: 25px;
}

.player-list .button {
    -fx-background-radius: 8px;
    -fx-padding: 5px 15px;
    -fx-background-color: #820101;
    -fx-text-fill: white;
    -fx-font-size: 25px;
}

.player-list .list-cell {
    -fx-padding: 10;
}
